  <div class="flex-container">
      {{#each Movies}}
      <div class="details-container">
        <h1>{{this.title}}</p></h1>
        <p>{{this.description}}</p>
      </div>
      {{/each}}
    </div>
